* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    justify-content: space-between;
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(69, 67, 112) 35%, rgba(232, 232, 232, 1) 100%);
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 2px solid black;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    color: black;
}

td {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    background-color: grey;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    border: 5px groove rgb(189, 189, 189);
    font-size: 1.4rem;
}

td:hover {
    background-color: rgb(100, 100, 100);
    border: 1px solid black;
    border: 5px groove gray;
}

td.shown {
    background-color: rgb(201, 201, 201);
    border: 5px groove rgb(255, 255, 255);
    cursor: default;
    /* border: none; */
}

footer {
    padding: 1rem;
    background-color: gray;
    width: 100%;
    box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.5);
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    color: black;
}

.game-status {
    cursor: pointer;
    font-size: 2rem;
    margin: 10px 0;
}

button {
    font-size: 1.25rem;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 1em;
    background-color: #eee;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    color: black;
}

button:hover {
    background-color: rgb(172, 172, 172);
}

button.active {
    background-color: rgb(73, 73, 73);
    color: #eee;
}

body.win {
    background: linear-gradient(180deg, rgb(3, 36, 0) 0%, rgb(67, 112, 71) 35%, rgb(232, 232, 232) 100%);
}

body.lose {
    background: linear-gradient(180deg, rgb(36, 0, 0) 0%, rgb(112, 67, 67) 35%, rgb(232, 232, 232) 100%);
}

.lives {
    display: inline-block;
    margin-right: 40px;
    width: 98.86px;
}

.hints {
    display: inline-block;
    cursor: pointer;
    width: 98.86px;
}

h2.time {
    margin: 10px 0;
}

.lives-hints {
    height: 32px;
    margin-bottom: 30px;
}

.extra-ui {
    position: absolute;
    height: calc(100vh - 50px);
    left: 0px;
    top: 0px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

}

.safe-click {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: #eee;
    color: black;
    cursor: pointer;
    transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out;
}

.safe-click:hover {
    background-color: rgb(172, 172, 172);
}

.safe-click:active {
    background-color: rgb(73, 73, 73);
    color: #eee;
}

.safe-click span {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
}
@keyframes highlight {
    100%{
        background-color: rgb(58, 59, 160);
    }
}

.safe {
    /* background-color: rgb(86, 68, 184); */
    animation: highlight alternate 0.5s;
    animation-iteration-count: 4;
}

.safe-click.not-allowed {
    cursor: not-allowed;
    background-color: gray;
}

.safe-click.not-allowed:active {
    color: black;
    background-color: gray;
}

.undo, .megahint {
    margin-top: 20px;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: #eee;
    color: black;
    cursor: pointer;
    transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out;
}

.undo:hover, .megahint:hover {
    background-color: rgb(172, 172, 172);
}

.undo:active, .megahint:active {
    background-color: rgb(73, 73, 73);
    color: #eee;
}

.undo.not-allowed, .megahint.not-allowed {
    cursor: not-allowed;
    background-color: gray;
}

.undo.not-allowed:active, .megahint.not-allowed:active {
    color: black;
    background-color: gray;
}